// VARIABLES
$color-primary: hsl(0, 100%, 50%);

$color-white: hsl(0, 0, 100%);
$color-grey-1: hsl(0, 0, 95%);
$color-grey-2: hsl(0, 0, 93%);
$color-grey-3: hsl(0, 0, 90%);
$color-grey-4: hsl(0, 0, 80%);
$color-grey-5: hsl(0, 0, 60%);
$color-grey-6: hsl(0, 0, 40%);
$color-black: hsl(0, 0, 0);
